.App {
  text-align: center;
  width:100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navSpacer{
  padding-top: 4.5rem;
}

.playgroundOutput{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  width: 100%;
  height: 25rem;
  border-radius: 25px;
  box-shadow: 1px 1px 5px grey;
  margin-bottom: 0.5rem;
}

.playgroundDiv{
  position: relative;
  height: 35px;
  width: 100%;
}

.playgroundSubmit{
  position: absolute;
  right: 0;
  background: blue;
  max-height: 35px;
  bottom: 0;
}

.playgroundPromptInput{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 25rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  line-height: 1.5rem;
  border-radius: 25px;
  border: none;
  box-shadow: 1px 1px 5px grey;
  outline: 0;
  overflow-y: hidden;
}

.taskPromptInput{
  width: 100%;
  height: 25rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  line-height: 1.5rem;
  border-radius: 25px;
  border: none;
  box-shadow: 1px 1px 5px grey;
  outline: 0;
  overflow-y: hidden;
}

.taskPromptPreview{
  width: 100%;
  height: 25rem;
  text-align: left;
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  line-height: 1.5rem;
  border-radius: 25px;
  border: none;
  box-shadow: 1px 1px 5px grey;
  outline: 0;
  overflow-y: hidden;
  white-space:pre-wrap;
}

.taskTitle{
  width: 80%;
  font-weight:bold;
  padding: 0.5rem;
  border: none;
  box-shadow: 1px 1px 5px grey;
  outline: 0;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.taskSystem{
  width: 60%;
  font-style: italic;
  padding-left: 0.5rem;
  border: none;
  box-shadow: 1px 1px 5px grey;
  outline: 0;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.taskMenu{
  width: 100%;
  border-left: 2px solid black;
  outline: 0;
  overflow-y: hidden;
  overflow-wrap: break-word;
}

.xlsxIcon{
  height: 40px;
  cursor: pointer;
}

.xlsxInputButton{
  display: none;
}

.varItem{
  cursor: pointer;
}
.varItem:hover{
  color: red;
}